/* src/pages/staff/StaffCreate/StaffCreate.css */
.staff-create-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .staff-create-header { /* CAMBIO!! */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .staff-create-header h1 {
    font-size: 1.8em;
    color: #333;
  }
  
  .back-to-list-button {
    background-color: #ff4040;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  .staff-create-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  
  .save-button {
    padding: 15px;
    background-color: #ff4040;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: flex-end;
  }
  
  .save-button:hover {
    background-color: #e63946;
  }
  
  .save-button-container {
    display: flex;
    justify-content: center;
  }