/* src/pages/NewContract/ContractCreate.css */
.new-contract-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-contract-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-top: 10px;
}

.box2, .box3 {
    grid-column: 2 / 3;
    padding: 10px;
    border-radius: 8px;
}

.box2 {
    grid-row: 1 / 2;
}

.box3 {
    grid-row: 2 / 3;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    min-width: 180px;
    font-weight: bold;
}

.contract-form {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 250px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .box1, .box2, .box3 {
        grid-column: 1 / 2;
        grid-row: auto;
    }
}

.event-name {
    margin-left: 20px;
}

.submit-button {
    padding: 10px 20px;
    background-color: #ff4040;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    max-width: 150px;
    align-self: flex-start;
  }

  .submit-button:hover {
    background-color: #e63946;
  }

  .save-button-container {
    display: flex;
    justify-content: center;
  }

.back-to-list-button {
    background-color: #ff4040;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.final-cost {
    color: red;
    font-weight: bold;
}


.contract-section-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .contract-section-box table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .contract-section-box th,
  .contract-section-box td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .contract-section-box th {
    color: white;
    background-color: #333;
    font-weight: bold;
  }