/* src/components/Topbar/Topbar.css */
.topbar {
  width: 100%; /* Ocupar todo el ancho de la ventana */
  height: 60px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0; /* Dejar la barra superior ocupando toda la parte superior */
  color: white;
  z-index: 1000; /* que esté por encima de todo */
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-menu-icon {
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 25px;
}

.topbar-logo-link {
text-decoration: none;
color: inherit;
}

.topbar-logo {
font-size: 1.5em;
font-weight: bold;
color: white;
text-decoration: none;
}

.topbar-right {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.topbar-icon {
  font-size: 1.5em;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.topbar-notification-icon:hover, .topbar-user-icon:hover  {
  color: #ff4040; /* Cambiar color al pasar el ratón */
}

.topbar-notification-icon, .topbar-user-icon {
  padding: 10px 0;
  margin-right: 10px;
  font-size: 1.5em;
  margin-left: 20px;
}
.topbar-right span {
  margin-right: 10px;
  font-size: 1em;
  padding: 10px 0;
  border-left: 5px solid #ff4040;
}


.logout-text {
  cursor: pointer; /* Cambia el cursor a una mano */
  color: #ffffff; /* Blanco */
  margin-right: 10px;
  font-weight: bold;
}

.logout-text:hover {
  color: #f05454; /* Cambia el color al pasar el mouse */
}